@import "../../variables.scss";

.form {
  $self: &;

  &--search {
    @media screen and (min-width: 576px) {
      display: flex;
    }

    #{ $self }__control {
      padding: 15px;
      border: 0;
      width: 100%;
      transition: background-color $transition-base;

      &:hover {
        background-color: $white-950;
      }

      &:focus {
        outline: none;
        background-color: $white-900;
      }

      @media screen and (min-width: 576px) {
        width: 424px;
      }
    }

    #{ $self }__btn {
      text-transform: uppercase;
      background-color: #e40321;
      border: 0;
      color: $white;
      cursor: pointer;
      padding: 0 48px;
      height: 46px;
      font-weight: 600;
      margin-top: 12px;
      width: 100%;
      transition: background-color $transition-base;

      &:hover {
        background-color: lighten($secondary, 2%);
      }

      &:focus {
        background-color: lighten($secondary, 4%);
      }

      @media screen and (min-width: 576px) {
        width: auto;
        margin: 0;
      }
    }
  }
}
